body{
    background: rgb(255, 99, 99);
    font-family: 'Libre Baskerville', serif;
};    
h1{
    color: white;
    font-size: 5rem;
    margin-left: 3rem;
    
}
.description,
.agent-name{
    color: rgb(255, 99, 99);
}
.image{
    height: 30rem;
    width: 30rem;
}
.buttons{
    margin-left: 100rem;
}
#Vampire{
    font-size: 1.5rem;
    margin-left: 68rem;
}
#BountyHunter,
#reset{
    font-size: 1.5rem;
}
#up{
    font-size: 1.5rem;
    margin-left: 45rem;
}
#agents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
.result{
    width: 26%;
    height: 40%;
    text-align: center;
    border-radius: 5%;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    background-color:black}
