body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(151,148,233,1) 100%);
    font-family: 'Libre Baskerville', serif;
};    
h1{
    color: white;
    font-size: 5rem;
    margin-left: 3rem;
    
}
.buttons{
    display: flex;
    justify-content: space-around;
  }

.image{
    height: 30rem;
    width: 30rem;
}
.result{
    width: 30%;
    height: 40%;
    text-align: center;
    border-radius: 5%;
    margin-top: 2.5rem;
    background-color:fuchsia}
